<div class="p-1 text-xs-center" block-ui="ui">
    <div>
        <h3 class="font-large-1 grey darken-1 text-bold-400">{{stats.count}}</h3>
        <span class="font-small-3 grey darken-1">اعلان</span>
    </div>
    <div class="card-body overflow-hidden">
        <div id="morris-comments" class="height-75"></div>
        <ul class="list-inline clearfix mb-0">
            <li class="border-right-grey border-right-lighten-2 pr-2">
                <h3 class="success text-bold-400">{{stats.count}}</h3>
                <span class="font-small-3 grey darken-1">طلبية</span>
            </li>
            <li class="pl-2">
                <h3 class="success text-bold-400">{{stats.customers}}</h3>
                <span class="font-small-3 grey darken-1">عملاء</span>
            </li>
        </ul>
    </div>
</div>