
    <div class="content1">
        <div class="slider-content" style="height: 100px">
            <img src="/assets/img/bg-title@2x.png" style="height:100%; width:100%">
            
                    <div class="categ-title">
                        <h1>معلومات الدفع</h1>
                    </div>
                    <div class="categ-count">
                        <h1> </h1>
                    </div>
    
            </div>
    
    
    
        </div>
        <div class="slider-about" kr-square-image="assets/img/Background-team.jpg">
            <img src="assets/img/logo@2x.png"/>
        </div>
        <div class="user-content">
            <div class="user-tab" >
            <div class="about" ng-bind-html="config.transferInformation">
            </div>
                
    
            </div>
    
        </div>
    
    
    
    </div>