<!DOCTYPE html>
<html lang="ar" dir="rtl" ng-app="istibdel" ng-controller="LoginController" ng-cloak>
    <head>
            <base href="/" />
        <meta charset="utf-8">
        <title>لوحة التحكم: إستبدل</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="" name="description" />
        <meta content="themes-lab" name="author" />
        <link rel="shortcut icon" href="assets/images/logo2@1x.png">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet">
<link href="assets/plugins/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet">
<link href="assets/template/global/plugins/mcustom-scrollbar/mcustom_scrollbar.min.css" rel="stylesheet">
<link href="assets/template/global/plugins/animation-css/animate.min.css" rel="stylesheet">
<link href="assets/template/global/css/icons/font-awesome/font-awesome.css" rel="stylesheet">
<link href="assets/template/global/css/icons/line-icons/line-icons.css" rel="stylesheet">
<link href="assets/template/global/css/icons/line-icons/simple-line-icons.css" rel="stylesheet">
<link href="assets/template/global/plugins/select2/dist/css/select2.css" rel="stylesheet">
<link href="assets/template/global/plugins/slick/slick.css" rel="stylesheet">
<link href="assets/template/global/plugins/icheck/skins/all.css" rel="stylesheet">
<link href="assets/template/global/plugins/bootstrap/css/jasny-bootstrap.css" rel="stylesheet">
<link href="assets/template/global/css/icons/rounded/style.css" rel="stylesheet">
<link href="assets/template/global/css/icons/octicons/octicons.css" rel="stylesheet">
<link href="assets/template/global/css/icons/weather/css/weather-icons.min.css" rel="stylesheet">
<link href="assets/template/global/plugins/bootstrap-loading/lada.min.css" rel="stylesheet">
<link href="assets/template/global/plugins/bootstrap-tags-input/bootstrap-tagsinput.css" rel="stylesheet">
<link href="assets/template/global/plugins/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
<link href="assets/template/global/plugins/prettify/prettify.css" rel="stylesheet">
        <link href="assets/template/global/css/style.css" rel="stylesheet">
        <link href="assets/template/global/css/ui.css" rel="stylesheet">
        <link href="assets/template/global/plugins/bootstrap-loading/lada.min.css" rel="stylesheet">
        <link href="assets/css/custom.css" rel="stylesheet">
          <%-include('../scripts') %>
    </head>
    <body class="account separate-inputs" data-page="login">
        <!-- BEGIN LOGIN BOX -->
        <div class="container" id="login-block"  >
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <div class="account-wall">
                        <i class="user-img icons-faces-users-03"></i>
                        <form class="form-signin" role="form" ng-submit="login()" block-ui="ui">
                            <div class="append-icon">
                                <input type="text" name="name" ng-model="loginDetails.username" id="name" class="form-control form-white username" autocomplete="off" placeholder="اسم المستخدم" required>
                                <i class="icon-user"></i>
                            </div>
                            <div class="append-icon m-b-20">
                                <input type="password" name="password" ng-model="loginDetails.password"  class="form-control form-white password" autocomplete="off" placeholder="كلمة المرور" required>
                                <i class="icon-lock"></i>
                            </div>
                            <div class="alert alert-danger" ng-show="error">
                                    <span> اسم المستخدم أو كلمة المرور خاطئة </span>
                                </div>
                            <button type="submit" id="submit-form" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">دخول</button>
                            
                        </form>
                       
                    </div>
                </div>
            </div>
            
            
          
        </div>
       
    </body>
</html>