<div class="sidebar-inner">
    <ul class="nav nav-sidebar">
        <li class="" >
            <a href="/" active-element>
                <i class="icon-home"></i>
                <span>الرئيسية</span>
            </a>
        </li>
        <li class="" >
            <a href="/categories" active-element>
                <i class="icon-list"></i>
                <span>الأقسام</span>
                <span class="fa arrow"></span>
            </a>

        </li>
        <li class="" >
            <a href="/annonces" active-element>
                <i class="icon icons-graphic-design-07"></i>
                <span>الإعلانات</span>
                <span class="fa arrow"></span>
            </a>

        </li>
        <li class="" >
            <a href="/users" active-element>
                <i class="icon-users"></i>
                <span>المستخدمين</span>
                <span class="fa arrow"></span>
            </a>

        </li>
        <li class="">
                <a href="/configurations"  active-element>
                    <i class="icon-settings"></i>
                    <span>الإعدادات العامة</span>
                    <span class="fa arrow"></span>
                </a>
    
            </li>
            

    </ul>
    <div class="sidebar-footer clearfix">
       
    </div>
</div>