
<!DOCTYPE html>
<html>
<head>

 <link rel="stylesheet" type="text/css" href="/assets/css/block.css">
</head>
<body>
       

        <a href="account/logout" style="color:#FFF" >تسجيل الخروج</a>
</body>
</html>