<div class="footer">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
           <a href="/"> <img class="logo-md" src="assets/img/logo-footer@2x.png"></a>
            <p>
                مرجع لجميع ما يخص العاب الفيديو والأجهزة الترفيهية والالكترونيه والاشتراكات الخاصه لجميع انواع المتاجر الرقمية وبيع وشراء
                المنتجات الجديدة والمستعمل او طلب ماتحتاج اليه
            </p>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="col-xs-6">
                <span class="title">روابط</span>
               <a href="/"> <p>الرئيسية</p></a>
                 <a href="/categories"><p>جميع الفئات</p></a>
               <a ng-show="currentUser" href="/users/{{currentUser.objectId}}">  <p>إعلاناتي </p></a>

            </div>
            <div class="col-xs-6">
                <span class="title">&nbsp;</span>
                
                <a href="/condition" <p>الأحكام والشروط</p></a>
               <a href="/about"> <p>من نحن</p></a>
            </div>


        </div>
       <!-- <div class="new col-xs-4">
            <span class="title">الاشتراك في أخبارنا</span>
            <div class="email-bar">
                <input type="text" class="" placeholder="  بريدك الالكتروني  ">
                <button>
                    <i class="fa fa-angle-left"></i>
                </button>
            </div>
            <span>تابع أخبار إستبدل</span>
        </div>-->

    </div>
    <div class="bordure-footer"></div>
    <div class="contact row">
        <div class="social-link col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <span>تابعونا على</span>
           <a target="_blank" href="{{istibdelConfig.contacts.facebook}}"><i class="fa fa-facebook-official"></i></a> 
           <a target="_blank" href="{{istibdelConfig.contacts.twitter}}"><i class="fa fa-twitter"></i></a> 
           <a target="_blank" href="{{istibdelConfig.contacts.instagram}}"><i class="fa fa-instagram"></i></a> 

            
        </div>
        <div class=" download-link col-xs-12 col-sm-12 col-md-4 col-lg-4">
           <a target="_blank" href=""><img  src="assets/img/Google-Play-Dark@2x.png"></a> 
           <a target="_blank" href="">  <img src="assets/img/Apple-Store-Dark@2x.png"></a>
        </div>
        <div class="copy-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <span>جميع الحقوق محفوظة لإستبدل2017</span>
        </div>

    </div>

</div>


</body>

</html>