<div id="main-menu" data-scroll-to-active="true" class="main-menu menu-dark menu-fixed menu-shadow menu-accordion">

    <!-- main menu content-->
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            <li class="nav-item"><a active-element href="/"><i class="icon-home3"></i> <span class="menu-title">الرئسية</span></a></li>
            <li class="nav-item"><a active-element href="/categories"><i class="icon-tree"></i> <span class="menu-title">الأقسام</span></a></li>
            <li class="nav-item"><a active-element href="/announcements"><i class="icon-wifi3"></i> <span class="menu-title">الاعلانات</span></a></li>
            <li class="nav-item"><a active-element href="/orders"><i class="icon-spoon-knife"></i> <span class="menu-title">الطلبات</span></a></li>
            <li class="nav-item"><a active-element href="/customers"><i class="icon-users2"></i> <span class="menu-title">العملاء</span></a></li>
            <li class="nav-item"><a active-element href="/dealers"><i class="icon-user"></i> <span class="menu-title">التجار</span></a></li>
            <li class="nav-item"><a active-element href="/subscriptions"><i class="icon-user-plus"></i> <span class="menu-title">الاشتراكات</span></a></li>
            <li class="nav-item"><a active-element href="/terms"><i class="icon-file-text"></i> <span class="menu-title">شروط الاستخدام</span></a></li>
        </ul>
    </div>
    <!-- /main menu content-->
    <!-- main menu footer-->
    <div class="main-menu-footer footer-close">
        <div class="header text-xs-center"><a href="#" class="col-xs-12 footer-toggle"><i class="icon-ios-arrow-up"></i></a></div>
        <div class="content">
            <div class="insights">
                <div class="col-xs-12">
                    <p>Product Delivery</p>
                    <progress value="25" max="100" class="progress progress-xs progress-success">25%</progress>
                </div>
                <div class="col-xs-12">
                    <p>Targeted Sales</p>
                    <progress value="70" max="100" class="progress progress-xs progress-info">70%</progress>
                </div>
            </div>
            <div class="actions"><a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Settings"><span aria-hidden="true" class="icon-cog3"></span></a>
                <a
                    href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock"><span aria-hidden="true" class="icon-lock4"></span></a>
                <a href="javascript: void(0);" data-placement="top"
                    data-toggle="tooltip" data-original-title="Logout"><span aria-hidden="true" class="icon-power3"></span></a>
            </div>
        </div>
    </div>
    <!-- main menu footer-->
</div>